@import "./reset";

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  transition: .1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

h2 {
  text-transform: uppercase;
}

h2:hover ~ #cursor {
  width: 100px;
  height: 100px;
  border: 2px dashed black;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
